<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聚合数据查询</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
</head>
<body>
<h1>聚合数据查询</h1>
<div style="width: 25%; max-width: 820px;" class="space">
    <canvas id="canvas"></canvas>
    <canvas id="canvas2"></canvas>
    <canvas id="canvas3"></canvas>
    <canvas id="canvas4"></canvas>
</div>

<script th:inline="javascript">
    var serverData =
    /*[[${data}]]*/
    var serverLables = serverData.map(function (value) {
        return value['date']
    });
    var serverFear = serverData.map(function (value) {
        return value['index']
    });
    var btcCap = serverData.map(function (value) {
        return value['btcCap']
    });
    var btcPrice = serverData.map(function (value) {
        return value['btcPrice'] / 100.0
    });
    var eosPrice = serverData.map(function (value) {
        return value['eosPrice'] / 100.0
    });
    var config = {
        type: 'line',
        data: {
            labels: serverLables,
            datasets: [
                {
                    label: "fear index",
                    fill: false,
                    backgroundColor: '#ccc',
                    borderColor: '#ccc',
                    data: serverFear,
                }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'Day'
                    }
                }],
                yAxes: [
                    {
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            min: 10
                        }
                    }
                    ]
            }
        }
    };

    var config2 = {
        type: 'line',
        data: {
            labels: serverLables,
            datasets: [
                {
                    label: "btc cap",
                    fill: false,
                    backgroundColor: '#ccc',
                    borderColor: '#ccc',
                    data: btcCap,
                }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'Day'
                    }
                }],
                yAxes: [
                    {
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            max: 60,
                            min: 50
                        }
                    }
                ]
            }
        }
    };

    var config3 = {
        type: 'line',
        data: {
            labels: serverLables,
            datasets: [
                {
                    label: "btc",
                    fill: false,
                    backgroundColor: '#ccc',
                    borderColor: '#ccc',
                    data: btcPrice,
                }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'Day'
                    }
                }],
                yAxes: [
                    {
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            min: 40000
                        }
                    }
                ]
            }
        }
    };

    var config4 = {
        type: 'line',
        data: {
            labels: serverLables,
            datasets: [
                {
                    label: "eos",
                    fill: false,
                    backgroundColor: '#ccc',
                    borderColor: '#ccc',
                    data: eosPrice,
                }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'Day'
                    }
                }],
                yAxes: [
                    {
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            min: 30
                        }
                    }
                ]
            }
        }
    };


    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
        ctx = document.getElementById("canvas2").getContext("2d");
        new Chart(ctx, config2);
        ctx = document.getElementById("canvas3").getContext("2d");
        new Chart(ctx, config3);
        ctx = document.getElementById("canvas4").getContext("2d");
        new Chart(ctx, config4);
    };
</script>

</body>
</html>